html {
  height: 100%;
  width: 100%;
}


body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}
#search-bar {
  height: 46px;
  border-radius: 48px;
  border: 0.5px solid lightgrey;
  width: 20%;
  padding-right: 40px;
  padding-left: 10px;
  margin-right: 10px;
}
#search-btn {
  height: 40px; /* Adjusted height for better visibility */
  border-top-right-radius: 25px; /* Slightly adjusted border-radius for a more balanced look */
  border-bottom-right-radius: 25px;
  padding: 10px 20px; /* Adjusted padding for a more compact button */
  font-size: 1em; /* Adjusted font size for better proportion */
  position: absolute;
  background-color: #007bff; /* Added background color for better visibility */
  color: white; /* Set text color to white for better contrast */
  border: none; /* Removed border to enhance the button appearance */
  cursor: pointer; /* Added cursor style for better user experience */
  transition: background-color 0.3s; /* Added a smooth transition effect */
  margin-top: 6px;
  margin-bottom: 5px;
}
#search-btn1 {
  height: 40px; /* Adjusted height for better visibility */
  border-top-right-radius: 25px; /* Slightly adjusted border-radius for a more balanced look */
  border-bottom-right-radius: 25px;
  padding: 10px 20px; /* Adjusted padding for a more compact button */
  font-size: 1em; /* Adjusted font size for better proportion */
  position: absolute;
  background-color: #007bff; /* Added background color for better visibility */
  color: white; /* Set text color to white for better contrast */
  border: none; /* Removed border to enhance the button appearance */
  cursor: pointer; /* Added cursor style for better user experience */
  transition: background-color 0.3s; /* Added a smooth transition effect */
  margin-top: 6px;
  margin-bottom: 5px;
}
#search-btn:hover {
  background-color: #0056b3; /* Darker background color on hover */
}
.p-3{
  padding-top: 20px;
  padding-bottom: 10px;
}
.myhero{
    margin-left: 1%;
}
